# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# 📦 Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# 🧠 Deep Learning / Models
# =========================
*.pt
*.pth
*.ckpt
*.h5

# =========================
# 💻 IDE / Editor
# =========================
.idea/
.vscode/
*.swp

# =========================
# 🔐 Environment variables
# =========================
.env